#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

**/.idea
**/*.iml

**/.build-harness
**/build-harness

**/.terraform.lock.hcl

bin/
unit-tests.xml

# atmos cache
.atmos/
test_suite.yaml
